{% extends "base.html.twig" %}

{% block title %}Connexion au site{% endblock %}

{% block body %}
    <div class="block-small">
        <div class="py-3 px-3">
            <h1>Connectez-vous !</h1>

            {% if hasError %}
                <div class="alert bg-danger">
                    Une erreur est survenu, l'adresse email ou alors le mot de passe est invalide.
                </div>
            {% endif %}

            <form action="{{ path('account_login') }}" method="post">
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse email..." required value="{{ username }}">
                </div>
                <div class="mb-3">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="_password" id="password" class="form-control" placeholder="Adresse email..." required>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Connexion !</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}