{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="block-small">
        {% include "partials/flashes.html.twig" %}
        <div class="py-3 px-3">
            <h1>Formulaire d'inscription</h1>
            {{form(form)}}
        </div>
    </div>
{% endblock %}