<section class="presentation" style="background-image: url('uploads/others/mariola.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 p-5">
                <h5 class="text-white">Développeur Backend php / Symfony</h5>
                <h2 class="text-white py-5">Création de sites web performants</h2>
                <p class="text-white">Que vous ayez besoin d’un site web vitrine pour votre commerce ou de conseils pour la mise en place d’une boutique en ligne, je peux vous conseiller, vous aider et développer des sites web sur-mesure.</p>
                <a href="{{ path('contact') }}"class="btn btn-primary btn-lg mt-4">Contactez-moi</a>
            </div>
        </div>
    </div>
</section>