<section class="bg-light p-3">
    <div class="container">
        <h2 class="py-4">Nos services</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card-deck">
                    <div class="card m-3">
                        <i class="fas fa-blog fa-5x mt-4 d-block text-center"></i>
                        <div class="card-body justify-content-center p-5">
                            <h3 class="card-title">
                                Développement php
                            </h3>
                            <p class="mt-4">Un besoin spécifique ? Je peux vous développer une application sur-mesure avec le Framework Symfony.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-deck">
                    <div class="card m-3">
                        <i class="fas fa-dice-d20 fa-5x mt-4 d-block text-center"></i>
                        <div class="card-body justify-content-center p-5">
                            <h3 class="card-title">
                                Stratégie digitale
                            </h3>
                            <p class="mt-4">Un besoin spécifique ? Je peux vous développer une application sur-mesure avec le Framework Symfony.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-deck">
                    <div class="card m-3">
                        <i class="fab fa-wordpress fa-5x mt-4 d-block text-center"></i>
                        <div class="card-body justify-content-center p-5">
                            <h3 class="card-title">
                                Wordpress
                            </h3>
                            <p class="mt-4">Pour vos sites vitrine, je vous propose la mise en place et la personnalisation de votre site avec WordPress.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>