<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="SocioDev, développemt web et gestion de projets.">
        <meta name="author" content="Boubacar Diarra, développeur backend PHP et Symfony">
        <title>{% block title %}Accueil{% endblock %} - Sociodev</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include "partials/navbar.html.twig" %}
        
        {% include "partials/flashes.html.twig" %}


        {% block body %}{% endblock %}

        {% include "partials/newsletter.html.twig" %}

        {% include "partials/footer.html.twig" %}
        
    </body>
</html>
