{% extends 'base.html.twig' %}

{% block title %}Derniers articles{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="mb-5">Retrouvez ici les derniers articles du blog</h1>
        <div class="row">
            <div class="col-md-3">
                <h3>Filtrer</h3>
                {{form(form)}}
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for article in articles %}
                        <div class="col-md-6">
                            {% include "partials/_article.html.twig" %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
